.editor {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  gap: 1rem;
}

.editor-message {
  background: var(--background-color);
  border-radius: 1rem;
  padding: 2rem;
}

.editor-header,
.editor-body:not(:empty) {
  display: flex;
  flex-direction: column;
  align-items: start;
  background: var(--background-color);
  border-radius: 1rem;
  padding: 2rem;
  gap: 1rem;
}

.editor-form {
  display: flex;
  flex-direction: column;
  width: 100%;

  gap: 1rem;
}

.editor-form__label-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.editor-form__label-wrapper:has(.editor-form__checkbox-input) {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.editor-form__text-input[type="number"] {
  appearance: none;
  -moz-appearance: textfield;
}

.editor-form__text-input[type="number"]::-webkit-inner-spin-button,
.editor-form__text-input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.editor-form button {
  width: max-content;
}

.editor-utility {
  display: flex;
}

.editor-utility__button {
  background: transparent;
  padding: 0.5rem;
  border-radius: 50%;
  display: inline-flex;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.editor-utility__button:hover {
  background: var(--background-color-2);
}

.editor-utility__button-delete {
  color: var(--error-color);
}

.editor-utility__button-delete:hover {
  color: var(--error-color-hover);
}

.editor-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.editor-section__title {
  font-size: 1rem;
}

.editor-questions,
.editor-answers {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.editor-questions__placeholder,
.editor-answers__placeholder {
  color: var(--desc-color);
}

.editor-questions__item,
.editor-answers__item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid var(--border-color);
}

.editor-questions__item-header,
.editor-answers__item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editor-questions__item-counter,
.editor-answers__item-counter {
  font-weight: 600;
  font-size: 0.85rem;
  color: var(--desc-color);
  margin-right: 0.5rem;
}

.editor-questions__item-counter::before,
.editor-answers__item-counter:before {
  content: "#";
}
